<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/bootstrap/dist/js/bootstrap.min.js">
<dom-module id="alta-usuario">
  <template>

    <style>
      :host {
        display: block;
        padding-left: 10px;
        padding-top: 20px;
      }

    </style>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <div class="row vertical-divider">
          <div class="col-xs-12 col-sm-8 col-md-4">
          	<div class="panel panel-default">
          		<div class="panel-heading">
  			    		<h3 class="panel-title">Para getionar el alta rellene todos los campos <small>son obligatorios!</small></h3>
  			 			</div>
  			 			<div class="panel-body">
  			    		<form role="form">
  			    			<div class="row">
  			    				<div class="col-xs-6 col-sm-6 col-md-6">
  			    					<div class="form-group">
  			                <input type="text" name="first_name" class="form-control input-sm" value="{{first_name::input}}" placeholder="First Name" required/>
  			    					</div>
  			    				</div>
  			    				<div class="col-xs-6 col-sm-6 col-md-6">
  			    					<div class="form-group">
  			    						<input type="text" name="last_name" class="form-control input-sm" value="{{last_name::input}}" placeholder="Last Name" required/>
  			    					</div>
  			    				</div>
  			    			</div>

  			    			<div class="form-group">
  			    			<input type="email" data-fv-emailaddress="true" name="email" class="form-control input-sm" value="{{email::input}}" placeholder="Email" required>
                  </div>

                  <div class="form-group">
                    <input type="address" name="address" class="form-control input-sm" value="{{address::input}}" placeholder="Dirección" required/>
                  </div>

                  <div class="form-group">
  			    				<input type="phone" name="phone" maxlength="12" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" value="{{phone::input}}" placeholder="Teléfono" required/>
  			    			</div>

  			    			<div class="row">
  			    				<div class="col-xs-6 col-sm-6 col-md-6">
  			    					<div class="form-group">
  			    						<input type="password" name="password" class="form-control input-sm" value="{{password::input}}" placeholder="Password" required/>
  			    					</div>
  			    				</div>

                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        {{strength}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
  			    				<div class="col-xs-6 col-sm-6 col-md-6">
  			    					<div class="form-group">
  			    						<input type="password" name="password2" class="form-control input-sm" value="{{password2::input}}" placeholder="Confirm Password" required/>
  			    					</div>
  			    				</div>
  			    			</div>

  			    			<input on-click="alta" value="Registrarse" class="btn btn-info btn-block">

  			    		</form>
  			    	</div>
  	    		</div>
      		</div>


        <img width="600" src="https://maps.googleapis.com/maps/api/staticmap?center={{address}}&zoom=17&scale=1&size=600x390&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C{{address}}">

</div>

    <iron-ajax
    id="doalta"
    method="POST"
    url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/alta"
    content-type="application/json"
    handle-as="json"
    on-response="mangeAJAXResponse"
    on-error="showError">

    <iron-ajax auto id="getpasswd" url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/password/{{password}}" handle-as="json" on-response="showData">

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class altaUsuario extends Polymer.Element {
      static get is() { return 'alta-usuario'; }
      static get properties() {
        return {
          first_name: {type: String},
          last_name: {type: String},
          email: {type: String},
          phone: {type: String},
          address: {type: String},
          password: {type: String},
          strength: {type: String}

        };
      }
      mangeAJAXResponse(data){
      console.log("mangeAJAXResponse");
      alert(data.detail.response.msg);
      if(data.detail.response.msg=="Usuario dade de alta con éxito"){
        window.location.href = "/login-usuario";}
      }

      showData(data){
        console.log("Show data");
        this.strength=data.detail.response.msg;
      }

      showError(error){
      console.log("ErrorAPIresponse");
      console.log(error);
      alert(error.detail.response.msg);
      }

      alta(){
        console.log("Botón alta pulsado");

        if(this.password!=this.password2){
          alert("Password tienen que ser iguales");
          return 1;
        }

        if(this.strength=="VERY_WEAK"){
          alert("Password muy debil");
          return 1;
        }

        //validar email
        var validations ={
          email: [/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/, 'Please enter a valid email address']
        };
        var validation = new RegExp(validations['email'][0]);

        if(validation.test(this.email)&this.strength!="VERY_WEAK"&this.first_name!=undefined&this.last_name!=undefined&this.password!=undefined&this.phone!=undefined&this.address!=undefined){
          var altaData={
            "first_name": this.first_name,
            "last_name": this.last_name,
            "email" : this.email,
            "phone" : this.phone,
            "address" : this.address,
            //funcion hash SHA1 para el password
            "password" : this.password
          };

          this.$.doalta.body=JSON.stringify(altaData);
          this.$.doalta.generateRequest();
          console.log("Petición enviada");
        }else{
          alert("Debe rellenar todos los campos correctamente");
        }
      }
      inicio(){
        window.location.href = "/login-usuario";
      }
    }


    window.customElements.define(altaUsuario.is, altaUsuario);
  </script>
</dom-module>
