<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="delete-usuario">
  <template>
    <style>
      :host {
        display: block;
        padding-left: 300px;
        padding-right: 300px;
        padding-top: 20px;
      }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

    <div class="container">
            <div class="card card-container">
                <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <div class="form-group">{{storedUser.first_name}}, para poder darte de baja no debes tener cuentas asociadas.</div>
                <div class="form-group"> Elimina dichas cuantas antes si las tuvieras.</div>
                    <button class="btn btn-lg btn-primary btn-block" on-click="del">Tramitar baja</button>

            </div><!-- /card-container -->
        </div><!-- /container -->

    <iron-ajax
    id="dodel"
    method="POST"
    url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/users/borra"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class delUsuario extends Polymer.Element {
      static get is() { return 'delete-usuario'; }
      static get properties() {
        return {
          id:{type: Number},
          first_name: {type: String},
          last_name: {type: String},
          email: {type: String},
          password: {type: String},
          storedUser: {type: Object}
        };
      }

      manageAJAXResponse(data){
        alert(data.detail.response.msg);
        console.log(data.detail.response);
        if(data.detail.response.msg=="Cuenta borrada con éxito"){
          this.storedUser={
            "logged": false
          };
          window.location.href = "/login-usuario";
        }else{
          window.location.href = "/visor-cuenta";
        }

      }

      showError(error){
      console.log("ErrorAPIresponse");
      }

      del(){
          var delData={
              "id" : this.storedUser.id
            };
          this.$.dodel.body=JSON.stringify(delData);
          this.$.dodel.generateRequest();
          console.log("Petición enviada");

      }

    }//fin del class

    window.customElements.define(delUsuario.is, delUsuario);
  </script>
</dom-module>
