<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/bootstrap/dist/js/bootstrap.min.js">
<dom-module id="edita-usuario">
  <template>

    <style>
      :host {
        display: block;
        padding-left: 10px;
        padding-top: 20px;
      }

    </style>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

<iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

  <div class="row vertical-divider">
          <div class="col-xs-12 col-sm-8 col-md-4">
          	<div class="panel panel-default">
          		<div class="panel-heading">
  			    		<h3 class="panel-title">{{first_name}} estos son tus datos <small>puedes cambiarlos!</small></h3>
  			 			</div>
  			 			<div class="panel-body">
  			    		<form role="form">
  			    			<div class="row">
  			    				<div class="col-xs-6 col-sm-6 col-md-6">
  			    					<div class="form-group">Nombre
  			                <input type="text" name="first_name" class="form-control input-sm" value="{{first_name::input}}" placeholder="First Name" required/>
  			    					</div>
  			    				</div>
  			    				<div class="col-xs-6 col-sm-6 col-md-6">
  			    					<div class="form-group">Apellido
  			    						<input type="text" name="last_name" class="form-control input-sm" value="{{last_name::input}}" placeholder="Last Name" required/>
  			    					</div>
  			    				</div>
  			    			</div>

  			    			<div class="form-group">Email
  			    			<input type="email" data-fv-emailaddress="true" name="email" class="form-control input-sm" value="{{email::input}}" placeholder="Email" required>
                  </div>

                  <div class="form-group">Direccion
                    <input type="address" name="address" class="form-control input-sm" value="{{address::input}}" placeholder="Dirección" required/>
                  </div>

                  <div class="form-group">Telefono
  			    				<input type="phone" name="phone" maxlength="12" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control input-sm" value="{{phone::input}}" placeholder="Teléfono" required/>
  			    			</div>

  			    			<input on-click="edita" value="Guardar" class="btn btn-info btn-block">

  			    		</form>
  			    	</div>
  	    		</div>
      		</div>
          <div class="col-xs-12 col-sm-8 col-md-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Cambio de Password <small>tienen que coincidir!</small></h3>
              </div>
              <div class="panel-body">
                <form role="form">
                    <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="password" name="password" class="form-control input-sm" value="{{password::input}}" placeholder="Password" required/>
                      </div>
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        {{strength}}
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                        <input type="password" name="password2" class="form-control input-sm" value="{{password2::input}}" placeholder="Confirm Password" required/>
                      </div>
                    </div>
                  </div>

                  <input on-click="pwd" value="Cambiar" class="btn btn-info btn-block">

                </form>
              </div>
            </div>
          </div>
</div>

<img width="600" src="https://maps.googleapis.com/maps/api/staticmap?center={{address}}&zoom=17&scale=1&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C{{address}}">

    <iron-ajax
    id="doalta"
    method="POST"
    url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/users/edit"
    content-type="application/json"
    handle-as="json"
    on-response="mangeAJAXResponse"
    on-error="showError">

    <iron-ajax auto id="getUser" url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/users/{{storedUser.id}}" handle-as="json" on-response="showData"></iron-ajax>

    <iron-ajax
    id="dopwd"
    method="POST"
    url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/users/editpwd"
    content-type="application/json"
    handle-as="json"
    on-response="mangeAJAXResponse"
    on-error="showError">

    <iron-ajax auto id="getpasswd" url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/password/{{password}}" handle-as="json" on-response="showData2">

  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class editaUsuario extends Polymer.Element {
      static get is() { return 'edita-usuario'; }
      static get properties() {
        return {
          first_name: {type: String},
          last_name: {type: String},
          email: {type: String},
          phone: {type: String},
          address: {type: String},
          storedUser: {type: Object},

        };
      }
      mangeAJAXResponse(data){
      console.log("mangeAJAXResponse");
      alert(data.detail.response.msg);

      }

      showData(data){
      //asignar las propiedad
      this.first_name=data.detail.response.first_name;
      this.last_name=data.detail.response.last_name;
      this.email=data.detail.response.email;
      this.phone=data.detail.response.phone;
      this.address=data.detail.response.address;
      }

      showData2(data){
        console.log("Show data");
        this.strength=data.detail.response.msg;
      }

      showError(error){
      console.log("ErrorAPIresponse");
      console.log(error);
      alert(error.detail.response.msg);
      }

      edita(){
        console.log("Botón edita pulsado");

        //validar email
        var validations ={
          email: [/^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/, 'Please enter a valid email address']
        };
        var validation = new RegExp(validations['email'][0]);

        if(validation.test(this.email)&this.first_name!=undefined&this.last_name!=undefined&this.phone!=undefined&this.address!=undefined){
          var altaData={
            "id": this.storedUser.id,
            "first_name": this.first_name,
            "last_name": this.last_name,
            "email" : this.email,
            "phone" : this.phone,
            "address" : this.address
          };

          this.$.doalta.body=JSON.stringify(altaData);
          this.$.doalta.generateRequest();
          console.log("Petición enviada");
        }else{
          alert("Debe rellenar todos los campos correctamente");
        }
      }

      pwd(){
        var ok=true;
        if(this.password==undefined){
          alert("Campo requerido");
          ok=false;
        }
        if(this.password!=this.password2){
          alert("Password tienen que ser iguales");
          ok=false;
        }if(this.strength=="VERY_WEAK"){
          alert("Password muy debil");
          ok=false;
        }if(ok){
          var altaData={
            "id":Number(this.storedUser.id),
            "password":this.password
          };
          this.$.dopwd.body=JSON.stringify(altaData);
          this.$.dopwd.generateRequest();
          }
      }
    }
    window.customElements.define(editaUsuario.is, editaUsuario);
  </script>
</dom-module>
