<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
        padding-left: 300px;
        padding-right: 300px;
        padding-top: 20px;
      }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

    <div class="container">
            <div class="card card-container">
                <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="profile-name-card"></p>
                    <input type="email" value="{{email::input}}" class="form-control" placeholder="Email address" required autofocus>
                    <input type="password" value="{{password::input}}" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" on-click="login">Sign in</button>

            </div><!-- /card-container -->
        </div><!-- /container -->

    <iron-ajax
    id="doLogin"
    method="POST"
    url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/login"
    content-type="application/json"
    handle-as="json"
    on-response="manageAJAXResponse"
    on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          id:{type: Number},
          first_name: {type: String},
          last_name: {type: String},
          email: {type: String},
          password: {type: String},
          storedUser: {type: Object}
        };
      }

      manageAJAXResponse(data){
      console.log("mangeAJAXResponse");
      this.id=data.detail.response.idUsuario;
      this.first_name=data.detail.response.first_name;
      console.log(data.detail.response);
      if(this.id=="NaN"){
        alert(data.detail.response.msg);
      }else {
        //con login correcto guardo id usuario y redirecciono
        this.storedUser={
          "id": this.id,
          "first_name": this.first_name,
          "logged": true
        };
        window.location.href = "/visor-cuenta";
      }
      }

      showError(error){
      console.log("ErrorAPIresponse");
      alert(error.detail.error.message);
      }

      login(){
        console.log("Botón login pulsado");

        if(this.email!=undefined&this.password!=undefined){
          var loginData={
              "email" : this.email,
              "password" : this.password
          };
          this.$.doLogin.body=JSON.stringify(loginData);
          this.$.doLogin.generateRequest();
          console.log("Petición enviada");
        }else{
          alert("Campos requeridos");
        }
      }

    }//fin del class

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
