<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="my-icons.html">

<!--
<link rel="import" href="login-usuario.html">-->
<link rel="import" href="my-view404.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="my-app">
  <template>
    <style>
    [hidden]{display:none !important}
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
    </style>

    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>


  <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>



    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>
          <div class="row vertical-divider">
            <div class="col-xs-12 col-sm-8 col-md-4">
          Menu
        </div>
        <div class="col-xs-12 col-sm-8 col-md-4">

    </div>
        <div class="col-xs-12 col-sm-8 col-md-4">
          <button hidden$="{{!storedUser.logged}}" class="btn btn-danger" on-click="logout">Logout</button>
        </div>
        </div>

        </app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">

          <a hidden$="{{storedUser.logged}}" name="login" href="[[rootPath]]login-usuario">Login</a>
          <a hidden$="{{storedUser.logged}}" name="alta" href="[[rootPath]]alta-usuario">Alta Usuario</a>
          <a hidden$="{{!storedUser.logged}}" name="UserInfo" href="[[rootPath]]edita-usuario">Info Usuario</a>
          <a hidden$="{{!storedUser.logged}}" name="cuentas" href="[[rootPath]]visor-cuenta">Cuentas</a>
          <a hidden$="{{!storedUser.logged}}" name="transferencia" href="[[rootPath]]realiza-transferencia">Transferencias</a>
          <a hidden$="{{!storedUser.logged}}" name="traspaso" href="[[rootPath]]realiza-traspaso">Traspasos</a>
          <a hidden$="{{!storedUser.logged}}" name="traspaso" href="[[rootPath]]delete-usuario">Baja</a>
        </iron-selector>

      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Bienvenido al Banco Digital TechU 2018</div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <login-usuario name="login-usuario"></login-usuario>
          <alta-usuario name="alta-usuario"></alta-usuario>
          <visor-usuario name="visor-usuario"></visor-usuario>
          <edita-usuario name="edita-usuario"></edita-usuario>
          <visor-cuenta name="visor-cuenta"></visor-cuenta>
          <visor-movimiento name="visor-movimiento"></visor-movimiento>
          <realiza-transferencia name="realiza-transferencia"></realiza-transferencia>
          <realiza-traspaso name="realiza-traspaso"></realiza-traspaso>
            <cambia-pwd name="cambia-pwd"></cambia-pwd>
          <delete-usuario name="delete-usuario"></delete-usuario>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>

    <iron-ajax
    id="doLogout"
    method="POST"
    url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/logout/{{storedUser.id}}"
    handle-as="json"
    on-response="mangeAJAXResponse"
    on-error="showError">
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          storedUser: Object
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'login-usuario' in that case.
        this.page = page || 'login-usuario';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl(page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
      }

      _showPage404() {
        this.page = 'view404';
      }

      mangeAJAXResponse(data){
        alert(data.detail.response.msg);
      }

      showError(error){
      console.log("ErrorAPIresponse");
      alert(error.detail.error.message);
      }

      logout(){
          console.log("loggin out....");
          this.$.doLogout.generateRequest();
          console.log("Petición enviada");
          this.storedUser={
            "logged": false
          };
          alert("Hasta pronto");
        window.location.href = "/login-usuario";
      }

    }

    window.customElements.define(MyApp.is, MyApp);
  window.onload=function (e){
    this.storedUser={
      "logged": false
    };
    }
  </script>
</dom-module>
