<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<dom-module id="realiza-transferencia">
  <template>
  <style>
    :host {
      display: block;
      padding-left: 150px;
      padding-top: 20px;
    }
  </style>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

  <div class="container">
          <div class="col-xs-10 col-sm-6 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h1 class="panel-title">{{storedUser.first_name}} tienes {{ncuentas}} cuentas disponibles </h1>
        <h3>Seleccione cuenta origen</h3>
        <select id="selector">
        <template is="dom-repeat" items="{{accounts}}">
              <option value="{{item.iban}}">{{item.iban}} Saldo: {{item.balance}} €</option>
        </template>
      </select>

        <h5> Introduzca cuenta destino: </h5>
        <input type="text" class="form-control input-xs" placeholder="Cuenta Destino" minlength="19" maxlength="34" value="{{ctadest::input}}" required/>
        <h6>Importe: <input type="number" min="1" max="3000" value="{{importe::input}}" required/> <b>€</b></h6>
        <button class="btn btn-success" on-click="Transfiere">Transferir</button>
          </div>
        </div>
      </div>
    </div>

    <iron-ajax auto id="getAccount" url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/users/{{storedUser.id}}/accounts" handle-as="json" on-response="showData" on-error="showError">

      <iron-ajax
      id="doTransfer"
      method="POST"
      url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/transferencia"
      content-type="application/json"
      handle-as="json"
      on-response="mangeAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class RealizaTransferencia extends Polymer.Element {
      static get is() { return 'realiza-transferencia'; }
      static get properties() {
        return {
          accounts: {type: Array},
          ncuentas: {type: Number},
          ctadest: {type: Text},
          importe: {type: Number},
          storedUser: {type: Object}

        };
      }

      mangeAJAXResponse(data){
        console.log("mangeAJAXResponse");
        alert(data.detail.response.msg);
        if(data.detail.response.msg=="Movimiento realizado correctamente"){
          window.location.href = "/visor-cuenta";
        }
      }

      showData(data){
        console.log("Show data");
        this.accounts=data.detail.response;
        this.ncuentas=data.detail.response.length;
      }

      showError(error){
      console.log("ErrorAPIresponse");
      }

      Transfiere(){
        if(this.ctadest==undefined||this.ctadest.length<19){
          alert("Cuenta destino entre 19 y 34 caracteres")
        }else{
          if(this.importe==undefined||this.importe>3000){
            alert("Introduzca importe entre 1 y 3000 €uros")
          }

          else{
              var transferData={
                  "ctaorigen" : this.$.selector.value,
                  "ctadestino" : this.ctadest,
                  "importe" : this.importe
              };
              this.$.doTransfer.body=JSON.stringify(transferData);
              this.$.doTransfer.generateRequest();
              console.log("Petición enviada");
          }
        }
      }

    }//FIN DEL CLASS

    window.customElements.define(RealizaTransferencia.is, RealizaTransferencia);
  </script>
</dom-module>
