<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<dom-module id="realiza-traspaso">
  <template>
  <style>
    :host {
      display: block;
      padding-left: 150px;
      padding-top: 20px;
    }
  </style>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

  <div class="container">
          <div class="col-xs-14 col-sm-10 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h1 class="panel-title">{{storedUser.first_name}} tienes {{ncuentas}} cuentas disponibles </h1>
        <h3>Seleccione cuenta origen</h3>
        <select id="selector">
        <template is="dom-repeat" items="{{accounts}}">
              <option value="{{item.iban}}">{{item.iban}} Saldo: {{item.balance}} €</option>
        </template>
      </select>

        <h4>Seleccione cuenta destino</h4>
        <select id="selector2">
        <template is="dom-repeat" items="{{accounts}}">
              <option value="{{item.iban}}">{{item.iban}} Saldo: {{item.balance}} €</option>
        </template>
      </select>

      <h6>Importe: <input type="number" min="1" max="3000" value="{{importe::input}}" required/> €</h6>

    <button class="btn btn-success" on-click="Transfiere">Traspasar</button>
      </div>
    </div>
  </div>
</div>

    <iron-ajax auto id="getAccount" url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/users/{{storedUser.id}}/accounts" handle-as="json" on-response="showData" on-error="showError">

      <iron-ajax
      id="doTransfer"
      method="POST"
      url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/transferencia"
      content-type="application/json"
      handle-as="json"
      on-response="mangeAJAXResponse"
      on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Realizatraspaso extends Polymer.Element {
      static get is() { return 'realiza-traspaso'; }
      static get properties() {
        return {
          accounts: {type: Array},
          ncuentas: {type: Number},
          importe: {type: Number},
          storedUser: {type: Object}

        };
      }

      mangeAJAXResponse(data){
        console.log("mangeAJAXResponse");
        alert(data.detail.response.msg);
        if(data.detail.response.msg=="Movimiento realizado correctamente"){
          window.location.href = "/visor-cuenta";
        }
      }

      showData(data){
        console.log("Show data");
        this.accounts=data.detail.response;
        this.ncuentas=data.detail.response.length;
      }

      showError(error){
      console.log("ErrorAPIresponse");
      }

      Transfiere(){

        if(this.$.selector.value==this.$.selector2.value){
          alert("Cuenta destino y origen tienen que ser diferentes")
        }else{
          if(this.importe==undefined||this.importe>3000){
            alert("Introduzca importe entre 1 y 3000 €uros")
          }else{
            var transferData={
                "ctaorigen" : this.$.selector.value,
                "ctadestino" : this.$.selector2.value,
                "importe" : this.importe
            };
            this.$.doTransfer.body=JSON.stringify(transferData);
            this.$.doTransfer.generateRequest();
            console.log("Petición enviada");
        }//fin else llamada Request
      }
    }
  }//fin del class

    window.customElements.define(Realizatraspaso.is, Realizatraspaso);
  </script>
</dom-module>
