<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="visor-movimiento">
  <template>
    <style>
      :host {
        display: block;
        padding-left: 150px;
        padding-top: 20px;
      }
    </style>

    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>


    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

    <div class="container">
            <div class="col-xs-14 col-sm-10 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h1 class="panel-title">{{storedUser.first_name}}, estos son los movimientos de tu cuenta </h2>
                  <h2>{{storedUser.iban}}
                    <button class="btn btn-success" on-click="volver">Volver</button></h2>
                </div>
                <div class="panel-body">

                  <vaadin-grid aria-label="Basic Binding Example" items="[[movs]]">

                    <vaadin-grid-column width="50px" flex-grow="0">
                      <template class="header">#</template>
                      <template>[[index]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column>
                      <template class="header">Fecha</template>
                      <template>[[item.date]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column>
                      <template class="header">Importe</template>
                      <template>[[item.importe]]</template>
                    </vaadin-grid-column>

                  </vaadin-grid>
                </div>
              </div>
            </div>
          </div>

<iron-ajax auto id="getMovement" url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/users/{{storedUser.iban}}/movments" handle-as="json" on-response="showData" on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Visormovimiento extends Polymer.Element {
      static get is() { return 'visor-movimiento'; }
      static get properties() {
        return {
          movs: {type: Array},
          storedUser: {type: Object}

        };
      }
      showData(data){
      //asignar las propiedad
      this.movs=data.detail.response;
      }

      showError(error){
      console.log("ErrorAPIresponse");
      }

      volver(){
        window.location.href = "/visor-cuenta";
      }

    }
    window.customElements.define(Visormovimiento.is, Visormovimiento);
  </script>
</dom-module>
