<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<dom-module id="visor-cuenta">
  <template>
    <style>
      :host {
        display: block;
        padding-left: 150px;
        padding-top: 20px;
      }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>

    <div class="container">
            <div class="col-xs-14 col-sm-10 col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h1 class="panel-title">Hola {{storedUser.first_name}}.
                    Por favor selecciona una de tus {{ncuentas}} cuentas </h1>
    <select id="selector">
    <template is="dom-repeat" items="{{accounts}}">
          <option value="{{item.iban}}">{{item.iban}} Saldo: {{item.balance}} €</option>
    </template>
  </select>
  <div>
  <button class="btn btn-success" on-click="movments">Movimientos</button>
  <button class="btn btn-info" on-click="newcta">Nueva Cuenta</button>
  <button class="btn btn-danger" on-click="cancelcta">Cancelar Cuenta</button>
</div>

</div>
</div>
</div>
</div>

        <iron-ajax
          id="newaccount"
          method="POST"
          url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/altacta/{{storedUser.id}}"
          handle-as="json"
          on-response="manageAJAXResponse"
          on-error="showError">

          <iron-ajax auto id="getAccount" url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/users/{{storedUser.id}}/accounts" handle-as="json" on-response="showData" on-error="showError">

            <iron-ajax
              id="cancelcta"
              method="POST"
              url="http://techu-techu.7e14.starter-us-west-2.openshiftapps.com/apitechu/v2/cancelcta"
              content-type="application/json"
              handle-as="json"
              on-response="manageAJAXResponse"
              on-error="showError">

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class  VisorCuenta extends Polymer.Element {
      static get is() { return 'visor-cuenta'; }
      static get properties() {
        return {
          accounts: {type: Array},
          ncuentas: {type: Number},
          storedUser: {type: Object}
        };
      }

      manageAJAXResponse(data){
        alert(data.detail.response.msg);
        console.log(data.detail.response);
        window.location.href="/visor-cuenta";
      }

      showError(error){
      console.log("ErrorAPIresponse");
      }

      showData(data){
        //asignar las propiedad
        this.accounts=data.detail.response;
        this.ncuentas=data.detail.response.length;
     }

      newcta(){
          this.$.newaccount.generateRequest();
          console.log("Petición enviada");
      }

      cancelcta(){

        if (confirm('¿Esta seguro de qu quiere cancelar la cuenta?')) {
            var cta={
                  "iban" : this.$.selector.value
              };
              this.$.cancelcta.body=JSON.stringify(cta);
              this.$.cancelcta.generateRequest();
              console.log("Petición enviada");
        } else {
            // Do nothing!
        }

      }//fin cancelacta

      movments(){
        console.log("vamos a ver movimientos");
          this.storedUser={
           "iban" : this.$.selector.value,
           "id" : this.storedUser.id,
           "first_name": this.storedUser.first_name,
           "logged": true
         };
         console.log(this.storedUser);
          window.location.href = "/visor-movimiento";
        }//fin movments

    }//fin del class

    window.customElements.define( VisorCuenta.is,  VisorCuenta);
  </script>
</dom-module>
